<header class="top-header" ng-controller="TopNavCtrl as tnc" header-scroll>
    <div class="container">
        {% raw %}
        <a href="{{ tnc.logo_url }}" class="logo">
        {% endraw %}
            {% if site.navigation_image %}
            <img src="{{ site.navigation_image | prepend: '/' | prepend: site.baseurl }}" class="image" alt="">
            {% else %}
            <img src="{{ 'assets/img/caflogo.png' | prepend: '/' | prepend: site.baseurl }}" class="image" alt="">
            {% endif %}
        </a>
        <ul class="menu">
            <li class="menu-item" ng-repeat="(key, value) in tnc.top_nav_data.navigation_items" navbar-button>
                <a localize-all="value"></a>
            </li>
        </ul>
    </div>
    <div class="menu-toggle" menu-toggle>
      <span class="hpe-icon hpe-menu"></span>
    </div>
</header>

<script type="application/json" id="top-nav-localization">
    {{ site.data.top_navigation | jsonify }}
</script>
